<div class="data-wrapper">

    <div>
        <app-search [searchString]="searchString" (search)="onSearch($event)" (searchCleared)="onSearch($event)"
            fxFlex="20">
        </app-search>
    </div>

    <div class="margin-top20 data-container">
        <!-- Table Title -->
        <div class="padding15-20" fxLayoutAlign="space-between center">
            <div>Employees</div>
            <button class="add-button" (click)="addEmployee()">+ Add</button>
        </div>

        <!-- Table Header -->
        <app-table-headers [headerGap]="columnGap" [headerData]="columnHeaderData"></app-table-headers>

        <!-- Table Row Data -->
        <div class="mh-50">
            <div *ngFor="let employee of employeeData" class="list-row pointer" fxLayout="row"
                fxLayoutAlign="start center" [fxLayoutGap]="columnGap + '%'">

                <div class="truncate-text" [title]="employee.id" [fxFlex]="columnHeaderData[0].width">
                    {{employee.id}}
                </div>

                <div class="truncate-text" [title]="employee.name" [fxFlex]="columnHeaderData[1].width">
                    {{employee.name}}
                </div>

                <div class="truncate-text" [title]="employee.phone" [fxFlex]="columnHeaderData[2].width">
                    {{employee.phone}}
                </div>

                <div class="truncate-text" [title]="employee.city" [fxFlex]="columnHeaderData[3].width">
                    {{employee.city}}
                </div>

                <div class="truncate-text" [title]="employee.address_line1" [fxFlex]="columnHeaderData[4].width">
                    {{employee.address_line1}}
                </div>

                <div class="truncate-text" [title]="employee.address_line2" [fxFlex]="columnHeaderData[5].width">
                    {{employee.address_line2}}
                </div>

                <div class="truncate-text" [title]="employee.postal_code" [fxFlex]="columnHeaderData[6].width">
                    {{employee.postal_code}}
                </div>

                <div class="truncate-text edit" [title]="'Edit'" [fxFlex]="columnHeaderData[7].width"
                    (click)="editEmployee(employee)">
                    Edit
                </div>

            </div>
        </div>

    </div>

</div>